.my-bg-color {
    background-color: none;
}

.my-text-size {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 179, 0);
}

.title {
    width: 20rem;
}

.title:hover {
    text-decoration: none;
    color: rgb(255, 179, 0);
}

.nav-color {
    background-color: none;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(255, 179, 0);
    font-size: 20px;
    transition-duration: .3s;
}

.nav-link:hover {
    color: rgb(255, 179, 0) !important;
}

.link-dark {
    text-decoration: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    border-color: none;
    border: none !important;
    text-align: center;
    width: 13rem;
    margin: 1rem;
    margin-top: -1rem;
    background-color: rgba(255, 179, 0, 0.2);
}

.navbar-nav .dropdown-menu {
    border-top: 3px solid rgb(255, 179, 0) !important;
    position: fixed;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-nav.ml-auto li a {
    font-size: 15px;
}

.navbar-nav .nav-link {
    margin: 1rem 1rem -1rem 1rem;
    width: 13rem;
}

.navbar-nav {
    flex-direction: row;
}

.dropdown-item {
    width: 13rem;
    color: white;
}