.car-data-container {
    text-align: center;
    margin: 5rem auto;
    /* 수직 마진은 20px, 수평 마진은 자동으로 설정하여 가운데 정렬 */
    padding: 20px;
    border-radius: 5px;
    font-family: 'TheJamsil5Bold';
}

.car-data-distance {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.car-data-intro {
    margin-bottom: 3rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 3.5rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 4rem;
}

input[type='text'] {
    width: 300px;
    height: 30px;
}

.search-button {
    width: 70px;
    height: 35px;
    background-color: #f2c12e;
    color: black;
    border: none;
    cursor: pointer;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.car-item {
    width: 300px;
    height: 100%;
    background-color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    /* 수직 마진은 0, 수평 마진은 자동으로 설정하여 가운데 정렬 */
}

strong {
    font-weight: bold;
}

.Model {
    color: rgb(170, 31, 6);
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.right-top-text {
    position: absolute;
    top: 2rem;
    right: 1rem;
}